<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/mascotas">Mascotas</a>
        </li>
        <li>
            <a href="/usuario">Usuarios</a>
        </li>
        <li>
            <a href="/reseñas">Reseñas</a>
        </li>
        <li>
            <a href="/crea_usuario">Crea usuario</a>
        </li>
        <li>
            <a href="/crea_mascota">Crea mascota</a>
        </li>
        <li>
            <a href="/crea_reseña">Crea reseña</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}