{% extends 'layouts/base.html' %}

{% block content %}

<h1>About 🐕‍🦺🐈</h1>

<p>Esta es una aplicación web desarrollada con Django que permite a los usuarios registrar mascotas, publicar reseñas y consultar opiniones de otros usuarios. Su diseño busca ser simple, funcional y adecuado para gestionar información relacionada con mascotas de forma clara y eficiente.</p>

<p>ABOUT ME 👩🏻</p>

<p>Soy Jennifer, soy de Colombia y estoy dando mis primeros pasos en el mundo de la programación, actualmente estudiando Python en Coderhouse. A pesar de que mi experiencia en el área es reciente, estoy apasionada por las posibilidades que ofrece la tecnología. Me encanta viajar y descubrir nuevos destinos, lo que me inspira a seguir aprendiendo.</p>

<p>Realizado por Jennifer Garcia</p>

<p>Animate a dejar una reseña!!</p>

{% endblock %}